a:link, a:visited, a:active {
    text-decoration:none;
}
.hscore{
    background-color: #6e0f00;
    width: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    transition: 1s;
    filter: drop-shadow(0 0 5px #6e0f00);
}